baseURL = "https://gcastle-hub.github.io/csl-competition"
title = "NeurIPS 2023 | CSL Competition"
languageCode = 'en-us'
paginate = 3
theme = 'maverick'

[permalinks]
  pages = "/:slug"

[params]
  logo = '/assets/favicon.ico'
  description = "Causal Structure Learning from Event Sequences and Prior Knowledge"
  author = 'Calvin Tran'

  [params.comments]
    githubRepo = 'canhtran/maverick'
    theme = 'github-light'



[menu]
  [[menu.main]]
    identifier = "Overview"
    name = "Overview"
    title = "Overview"
    url = "/"
    weight = 10
   [[menu.main]]
    identifier = "Submission"
    name = "Submission"
    title = "Submission"
    url = "/Submission/"
    weight = 20
  [[menu.main]]
    identifier = "Organizers"
    name = "Organizers"
    title = "Organizers"
    url = "/Organizers/"
    weight = 30

[markup]
  [markup.goldmark.renderer]
    unsafe = true
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    hl_inline = false
    lineAnchors = ''
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    noHl = false
    style = 'monokailight'
    tabWidth = 4

[taxonomies]
  tag = "tags"

[outputs]
  home = ["HTML", "RSS", "JSON"]
  section = ["HTML"]

[outputFormats.RSS]
  mediatype = "application/rss"
  baseName = "atom"

[outputFormats.JSON]
  mediatype = "application/json"
  baseName = "feed"

ignoreErrors = ["error-remote-getjson"]
