<header>
<p style="padding: 0;margin: 0;">
  <a href="https://neurips.cc/Conferences/2023/CompetitionTrack">
    <b>{{ .Site.Title }}</b>
  </a>
    <a href="https://codalab.lisn.upsaclay.fr/competitions/13902">
    <b><span>| CSL Competition</span></b>
  </a>
</p>
<ul style="padding: 0;margin: 0;">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
  <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
    <a href="{{ .URL }}"><span>{{ .Name }}</span></a>
    {{ end }}
  </li>
</ul>
</header>
<hr class="hr-list" style="padding: 0;margin: 0;">